/* colors */
:root {
  --foam: #d9e4f2;
  --magic-turquoise: #13a3f6;
  --sky-blue: #297ce7;
  --serene-indigo: #3918df;
  --royal-purple: #402266;
  --burgundy: #732a36;
  --lively-red: #f2213a;
  --healing-orange: #ff6a26;
  --tangerine: #ff9d0a;
  --sunshine-yellow: #ffda34;
  --white: #ffffff;
  --sensual-pink: #ff6b9f;
  --bubblegum: #eb3d7c;
  --plum: #ac298c;
  --spirited-violet: #752ed1;
  --periwinkle: #796efc;
  --dryer-lint: #998fa3;
  --tabby-gray: #5a6171;
  --asphalt: #252b32;
  --black: #000000;
  --moss: #007658;
  --natural-green: #00b754;
  --fern: #67d95d;
}