.icon::after,
.button::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.pride-flag {
  height: 1.5ex;
  width: auto;
}

.logo {
  height: 100%;
}

.logo > svg {
  height: 100%;
  width: auto;
}

.color-swatch > svg {
  width: 50px;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));
}

.size {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: var(--white);
  color: var(--periwinkle);
  border: 2px solid var(--foam);
  text-transform: uppercase;
}

.svg-inline--fa {
  height: 2ex;
}